<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            font-size: 18px;
            color: #333;
            padding: 20px;
            text-align: center;
        }

        a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            margin-top: 20px;
            font-weight: bold;
        }

        p {
            margin: 10px 0;
        }

        .copyText {
            background-color: #f0f0f0;
            padding: 5px;
            border-radius: 8px;
            max-width: 400px;
            margin: 0 auto;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Your Password Reset Token is:</p>
        <a href="<%= resetToken %>" class="button">Reset Password</a>
        <p>If the link is not clickable, please copy the link below:</p>
        <p class="copyText">
            <%= resetToken %>
        </p>
    </div>
</body>

</html>